.ProjectPage_Main{
    height: 100vh;
    background-color: palegreen;
}

.projectpage_title{
    padding-top: 50px;
    text-align: center;
    color: whitesmoke;
    font-size: large;
}

.projectpage_box{
    display: flex;
    background-color: yellow;
    margin-top: 3%;
    margin-left: 5%;
    height: 60%;
    width: 90%;
}

.projectpage_card1{
    flex: 0.5;
    background-color: tomato;
    display: flex;
    align-items: center;
    justify-content: center;
}

.projectpage_image{
    width: 70%;
    object-fit: contain;
}

.projectpage_card2{
    flex: 0.5;
    background-color: violet;
    text-align: center;
}
